<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
!pip install bs4
#!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1277 sha256=973e042b7e530a3d3112723bf17d1254780e9ceedca5491d9bfbbe2f2de5d1bf
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\75\78\21\68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

## Imports

Import any additional libraries you may need here.

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [4]:

data  = requests.get('https://en.wikipedia.org/wiki/List_of_largest_banks').text;

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [5]:
data[101:124]

'List of largest banks -'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [6]:
soup = BeautifulSoup(data,"html5lib");

In [7]:
print(soup.find_all('tbody')[3].find_all('tr')[1].find_all('td')[2].text)

390.934

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [8]:
bank_data = pd.DataFrame(columns=["Rank","Name", "Market Cap (US$ Billion)"])

for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td');
    #Write your code here
    if (col != []):
        rank = col[0].text.strip()[0];
        name = col[1].text.replace('[','').replace(']','').strip();
        market_cap = col[2].text.strip();
        bank_data = bank_data.append({"Rank":rank, "Name":name, "Market Cap (US$ Billion)":market_cap}, ignore_index=True);

bank_data

   Rank                                     Name Market Cap (US$ Billion)
0     1                           JPMorgan Chase                  390.934
1     2  Industrial and Commercial Bank of China                  345.214
2     3                          Bank of America                  325.331
3     4                              Wells Fargo                  308.013
4     5                  China Construction Bank                  257.399
..  ...                                      ...                      ...
65    6                             Ping An Bank                   37.993
66    6                       Standard Chartered                   37.319
67    6                     United Overseas Bank                   35.128
68    6                                QNB Group                   33.560
69    7                              Bank Rakyat                   33.081

[70 rows x 3 columns]

**Question 3** Display the first five rows using the `head` function.

In [9]:
#Write your code here
bank_data.head()

  Rank                                     Name Market Cap (US$ Billion)
0    1                           JPMorgan Chase                  390.934
1    2  Industrial and Commercial Bank of China                  345.214
2    3                          Bank of America                  325.331
3    4                              Wells Fargo                  308.013
4    5                  China Construction Bank                  257.399

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [11]:
#Write your code here
#Write your code here
bank_data.to_json(r'banks_market_cap.json')

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation.